body {
  font-family: 'Karla', sans-serif;
  background-color: azure;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin: 50px auto;
  border-radius: 10px;
}

.header {
  color: #ffffff;
  background: linear-gradient(to right, #672280, #A626D3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: -webkit-fill-available;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 45px;
  margin-right: 10px;
}

.react-course {
  font-family: 'Inter', sans-serif;
}

.meme {
  width: -webkit-fill-available;
  background-color: white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  padding: 40px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp {
  height: 40px;
  width: 380px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  margin: 0px 10px;
  font-size: medium;
  /* padding: 0px 13px; */
  text-indent: 13px;
  font-weight: 500;
}

.inp:focus-visible {
  outline: none;
}

.btn {
  display: block;
  margin: 30px 10px 50px 10px;
  background: linear-gradient(to right, #711F8D, #A818DA);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  width: -webkit-fill-available;
  cursor: pointer;
}

.memediv {
  position: relative;
}

.meme-img {
  margin: 0px 10px 0px 10px;
  width: -webkit-fill-available;
  object-fit: cover;
}

.img-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow:
  2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0 2px 0 #000,
  2px 0 0 #000,
  0 -2px 0 #000,
  -2px 0 0 #000,
  2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}